venv/
Django Application/venv/

__pycache__/
*.py[cod]

Django Application/db.sqlite3
Django Application/uploaded_images/
Django Application/uploaded_videos/
Django Application/genconvit_weights/
Django Application/genconvit_src/
.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp
*.swo
*.orig
*.log
